#map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;

}

#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
    background: #fff;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}