#map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;

}

#legend {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
    background: #fff;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#legend a {
  color:blueviolet;
}

#side-bar {
  z-index: 1000;
  position: absolute;
  width: 800px;
  top: 1%;
  bottom: 1%;
  left: .5%;
  padding: 40px 15px 900px 15px;
  background: #542907;
  color: white;
}

#title-map {
  color: white;
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
}

#title-map span {
  font-size: 18px;
  float: right;
  margin-right: 5px;
  color:#fff;
}

#name {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fires-chart {
  top: 20px;
}